<p id="notice"><%= notice %></p>

<h1>Listing View Files</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% @view_files.each do |view_file| %>
      <% #if view_file.parents.first && view_file.parents.first["isRoot"] %>
      <tr>
        <td><a <% if is_directory(view_file) %>
                 class="folder"
               <% else %>
                 class = "file"
               <% end %>
                 href="<%= download_link_for(view_file) %>"><%= view_file.title %></a></td>
      </tr>
      <% end %>
    <% gend %>
  </tbody>
</table>
