<p id="notice"><%= notice %></p>

<h1>Listing View Files</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% @view_files.each do |view_file| %>
      <tr>
        <td><a href="<%= view_file.web_content_link %>"><%= view_file.title %></a></td>
      </tr>
    <% end %>
  </tbody>
</table>
